* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #171717;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-bottom: 1px solid #444;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.container {
  width: 1400px; 
  max-width: 100%;
  margin-bottom: 5px;
}

.history-container {
  max-width: 1400px;
  margin: 20px auto;
  padding: 20px;
  background: #efebeb;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chatbox {
  display: flex;
  flex-direction: column;
  border: 1px solid #e2e2e2;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(102, 17, 205, 0.1);
  overflow: hidden;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 4px;
}

#chat-history {
  padding: 20px; 
  overflow-y: auto;
  border-bottom: 1px solid #e2e2e2;
  height: 600px; 
  font-size: 16px; 
  font-family: 'Roboto', sans-serif; 
  line-height: 1.6;
  color: white;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  padding: 10px;
  border-radius: 8px;
  font-size: large; 
  color: #ffffff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.message img {
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  margin-right: 10px;
}

.message.bot {
  background-color: #2d2e2ebb; 
  align-self: flex-start; 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.message.user {
  background-color: #d1c4e9; 
  align-self: flex-end; 
  font-family: 'Courier New', Courier, monospace; 
  margin-bottom: 50px; 
}

#userdata {
  display: flex;
  padding: 10px;
  border-top: 1px solid #e2e2e2;
  background-color: #f9f9f9;
}

#user-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #e2e2e2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 4px;
  margin-right: 10px;
}

#send-btn {
  margin: 10px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(44, 44, 44);
  font-weight: bold;
  border-radius: 10px;
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);

}

#send-btn:hover {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);

}

.buttonsnavbar{
  display: flex;
  flex-direction: column;
}

#logout-btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(44, 44, 44);
  font-weight: bolder;
  border-radius: 10px;
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

#logout-btn:hover {
  background-position: right center;}

  #history-btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(44, 44, 44);
    font-weight: bolder;
    border-radius: 10px;
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  }
  
  #history-btn:hover {
    background-position: right center;}

  #generating-message {
    padding: 10px;
    margin: 10px;
    background-color: #141414;
    color: #fff;
    border-radius: 4px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none; 
  }
  
  .hidden {
    display: none;
  }
  
  .visible {
    display: block;
  }
  
  #generating-logo {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
  
  }
  @media (max-width: 480px) {
    .logo {
      display: none;
    }
    .container{
      max-width: 100%;
    }
  .history-container{
    max-width: 100%;

  }
    #chat-history {
      height: 70vh;
    }
  
    #user-input {
      font-size: 12px;
    }
  
    #send-btn, #history-btn {
      padding: 8px;
      font-size: 12px;
    }
  
    #generating-message {
      font-size: 12px;
    }
  } 